*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: calc(50vh - 250px) auto;
    background-image: url(../images/clock.png);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pointer {
    width: 12px;
    height: 230px;
    position: absolute;
    top: 20px;
    transform-origin: bottom;
    border-radius: 10px 10px;   
}
.hpointer {
    background-color: black;
    top: 105px;
    height: 145px;
    transform: rotate(0deg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.44);
}
.mpointer {
    background-color: rgb(40, 40, 40);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.44);
    transform: rotate(200deg);
}
.spointer {
    width: 7px;
    background-color: red;
    transform: rotate(270deg);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.44);
}
.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
